/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, /*form, label, legend, taken out on PowerPoint request*/
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*End of Normalize*/




.collapsible {
  background-color: #777;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.active, .collapsible:hover {
  background-color: #555;
}

.collapsible:after {
  content: '\002B';
  color: white;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212";
}

.content {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #f1f1f1;
}

.logo{
	height: 50px;
	width: 50px;
}

.topnav {
  overflow: hidden;
  background-color: #0284F0;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding-left: .4em;
  padding-right: .4em;
  padding-top: .4em;
  padding-bottom: .4em;
  text-decoration: none;
  font-size: 1.802em;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.active {
  background-color: #5EAFF2;
  color: white;
}

.topnav .icon {
  display: none;
}

/*
@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}*/

body{
	background-color: #F3F9FE;
	color:	#2695F2;
	line-height: 1.5em;
	margin: 1em;
}

h1{
	line-height: 1.7em;
	font-size: 2.56em;	
	padding-top: 0.3em;
	padding-bottom: 0.3em;
	padding-left: 0.3em;
	padding-right:0.3em;
	color: #0284F0;
	font-weight: bold;
}

h3{
	padding-top: 0.1em;
	padding-bottom: 0.1em;
	padding-left: 0.1em;
	padding-right:0.1em;
	color: #0284F0;	
	font-weight: bold;
}

h4{
	font-size: 1.802em;
	padding-top: 0.1em;
	padding-bottom: 0.1em;
	padding-left: 0.1em;
	padding-right:0.1em;
	color: #0284F0;
	font-weight: bold;
}

p{
	font-size: 1.45em;
	padding-top: 0.1em;
	padding-bottom: 0.1em;
	padding-left: 0.1em;
	padding-right:0.1em;
}

.holder{
	border-style: solid;
	border-color: #2695F2;
	border-width: 0.2em;
	background-color: rgba(135,206,250,0.3);
	float: left;
	width: 45%;
	padding-left:1.25%;
	padding-right:1.25%;
	text-align: center;
	line-height: 1.9em;
}

.signup {
    background-color: #0284F0; 
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
	padding-top: .5em;
	padding-bottom: .5em;
	padding-left: .5em;
	padding-right: .5em;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
	border-radius: 50%;
	border-style: solid;
	border-color: black;
}

.signup:hover{
	background-color: white;
	color: black;
}

a{
	text-decoration:none;
}

strong{
	font-weight: bold;
	text-decoration: underline;
}

.icon{
	width:20%;
	padding-left: 20%;
	padding-right:2%;
	position: relative;
	padding-top: 2em;
	float:left;
}

.announce{
	padding-left: 2%;
	padding-right: 5%;
	width: 30%;
	position: relative;
	padding-top: 2em;
	float: left;
}

.gallery {
	border: 10px solid #ccc;
}
.thumbnails img{
	height: 33%;
	width: 33%;
}

.sideContent{
	margin: 0;
	padding: 0;
	width: 200px;
	background-color: #f1f1f1;
	position: fixed;
	height: 100%;
	overflow: auto;
}
.sideContent a{
	display: block;
	color: black;
	padding: 1em;
	text-decoration: none;
}
.sideContent a.active{
	background: #4CAF50;
	color:white;
}

div.mainContent {
	margin-left: 200px;
	padding: 1px 1em;
	height: 1000px;

	border-style: solid;
	border-color: #2695F2;
	border-width: 0.2em;
	background-color: rgba(135,206,250,0.3);
	float: left;
	width: 45%;
	text-align: center;
	line-height: 1.9em;
}

#position{
	font-size: 30px;
}
#name{
	font-size: 15px;
}

#otherBoard{
	font-size: 10px;
}
#otherBoard p{
	font-size: 16px;
	font: bold;
}

.form input{
	background-color: #00bfff;
	color: white;
	font-size: 1em;
	font: bold;
	width: 15%;
}

.form textarea{
	background-color: #00bfff;
	color: white;
	font-size: 1em;
	width: 46%;
}

@media screen and (max-width: 600px){
	.topnav{
		float: none;
		width: 100%;
	}
	.holder{
		float: none;
		width: 100%;
	}
	.announce{
		width: 80%;
		padding-left: 5%;
		padding-right: 5%;
	}
	.icon{
		width: 7%;
		padding-left: 1.5%;
		padding-right: 1.5%;
	}
}

.index{
	background-image: url("https://raw.githubusercontent.com/ITMD362project2cc/Project2/master/img/lima.png");
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

.index .holder{
	background-color: rgba(135,206,250,0.8);
	color: white;
}